.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 25px;
    background-color: rgb(5, 43, 58);
    color: rgb(241, 232, 232);
   
}

.NavLinks{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* height: 15px; */
}